.message {
    font-weight: 600;
    color: blue;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 20px 8px 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.navbar a:hover {
    text-decoration: underline;
}

.content {
    padding-top: 1200px; 
}
.button {
    display: inline-block;
    padding: 15px 25px 10px 10px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #aa0404;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #999;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
  }
  .green-arrow {
    color: green;
}

.red-arrow {
    color: red;
}
.profile {
    display: flex;
    align-items: center;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #ffffff;
    margin-left: 20px;
}

#page{
    overflow-y: scroll;
}
#page::-webkit-scrollbar {
    display: none;
}
.nav{
    margin-left:10px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.body-content {
    max-width: 1200px;
    margin: 20px auto;
    padding: 30px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

form {
    display: flex;
    flex-direction: column;
}

form div {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px 15px;
    color: white;
    background-color: #096EEA;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #052E86;
}

#start-record-btn {
    margin-top: 10px;
    background-color: #423736;
}

#start-record-btn:hover {
    background-color: #e53935;
}

footer {
    left: 0;
    width: 100%;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px 8px 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    bottom: 0;
}
#footer_content{
    text-align: center;
    align-items: center;
}
.page{
    overflow-y: scroll;
}
.page::-webkit-scrollbar {
    display: none;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}
.graph-container {
    text-align: center;
}

.graph {
    width: 100%;
    height: auto;
    max-width: 600px; /* Ensure the graph does not exceed the container width */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}